* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.houses {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 80px;
}


   .house{
    width: 100%;
    position: relative;
    height: 300px;
  }

  .frame{
    height: 100%;
    width: 100%;
    }
    
    .door{
        position: absolute;
        right: 80px;
        bottom: 0px;
        height: 170px;
        width: 23%;
      }

      .door__green{
        background: green;
     }

     .frame__green{
        background: green;
      }

      .window{
        position: absolute;
        left: 50px;
        height: 100px;
        width: 30%;
        bottom: 70px;
    
      }

      .window__blue{
          background-color:  blue;
      }

      .frame__blue {
          background-color:  blue;
      }

      .door__blue {
          background-color:  blue;
      }

      .window__yellow {
          color: yellow;
      }
          
      .frame__yellow {
          color: yellow;
      }

      
      

      


